<!DOCTYPE html>
<html>
<head>
  <title>Branded</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container-fluid' data-current="<%= current_user.id if current_user%>">
  <div class="page-header text-center">
    <h1>Qarma <small>now this is social</small></h1>
  </div>
  <%= yield %>
  <footer>
    <!-- <h5>signed in as: <span href="" data-bind="text: email"></span> <small><%= link_to('sign out', destroy_user_session_path, :method => :delete) %></small></h5> -->
    <h5><%= link_to('Login', new_user_session_path) unless user_signed_in?  %></h5>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </footer>
</body>
</html>
